<h1> Enter Raffle </h1>

    <%= form_for @raffle do |f| %>
      <%= f.hidden_field :shoe_id %>
   <div><%= f.collection_select :shoe_id, Shoe.all, :id, :name, prompt: true %></div>
        
        <%= f.fields_for :user do |u| %>
          <%= u.label :first_name %>
          <%= u.text_field :first_name %>
          <br>
       
          <%= u.label :last_name %>
          <%= u.text_field :last_name %>
          <br>
       
          <%= u.label :email %>
          <%= u.text_field :email%>
          <br>
       
          <%= u.label :address %>
          <%= u.text_field :address %>
          <br>
       
          <%= u.label :phone_number %>
          <%= u.telephone_field :phone_number %>
          <br>
       
          <%= u.label :phone_type %>
          <%= u.text_field :phone_type %>
          <br>
        <% end %>

        <%= f.submit %>
      <% end %>
    
      


      