<%= link_to "Home", user_path(@raffle.user_id) %>

    <h2> You have entered the raffle successfully for: </h2>

  <p><%= @raffle.shoe.name %></p>
  <div class="img">
    <img src=<%=@raffle.shoe.image%> width="300" 
       height="200">
  </div>

  <%= @raffle.shoe.price %> <br></br>

<%= link_to "Edit Raffle", edit_raffle_path(@raffle) %> <br></br>
<%= link_to "Delete", raffle_path(@raffle), method: :delete, data: { confirm: "Really?" } %>


