<h2> Upcoming Releases</h2>

<% @shoes.each do |shoe| %>
    <div class="img">
        <img src=<%=shoe.image%> width="300"
         height="200">
        </div>
    <div class="shoe-card">
        <div class="shoe-names">
            <p><%= shoe.name %></p>
        </div>
        <div class="shoe-release_date">
            <p><%= shoe.release_date %></p>
        </div>
        <div class="shoe-price">
            <p><%= shoe.price %></p>
        </div>
        <%=link_to "Enter Draw", new_shoe_raffle_path(shoe, shoe.raffles) %>
    </div>
    
<% end %>





